<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Actualizar</title>
</head>
<body>

<div class="container"  style="width: 40rem;">
		
		<form action="/producto/actualizar" method="post" th:object="${producto}" class="row">
		
		<div class="col-6">
				<input type="hidden" th:field="*{idproducto}"
					class="form-control" id="idproducto">
			</div>
		
			<div class="col-12">
				<label for="modelo" class="form-label">Modelo</label> 
				<input type="text" th:field="*{modelo}"
					class="form-control" id="modelo">
			</div>
			
			<div class="col-12">
					<label for="descrip" class="form-label">Descripcion</label> 
					<input type="text" th:field="*{descrip}"
						class="form-control" id="descrip" >
				</div>
				
				<div class="col-6">
					<label for="inputprecio" class="form-label">Precio</label> 
					<input type="text" th:field="*{precio}"
						class="form-control" id="precio" >
				</div>

				<div class="col-6">
					<label for="inputPrecio" class="form-label">Stock</label> 
					<input type="text" th:field="*{stock}"
						class="form-control" id="stock">
				</div>
				<div class="form-group">
					<label for="marca" >Marca</label> 
					<select id="marca" th:field="*{objMarca}" class="form-control">
						<option value ="-1">Seleccione..</option>
						<option th:each="lstmar : ${listamarca}" th:value="${listamar.idmarca}" th:text="${lstmar.nombremarca}" >Seleccionar</option>
					</select>
				</div>
				
			<div class="col-12 mt-4 mb-4" >
			<button type="submit" class="btn btn-success">Actualizar</button>
			<a href="/producto/listado" class="btn btn-primary">Regresar</a>
			</div>
			
		</form>
		<br>

	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" ></script>
</html>