<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

</head>
<body>
    <header>
        <div class="title">Principal</div>
    </header>
    <main>
    <div class="button-container">
        <a href="/cliente/listado" class="button">
            clientes</a>
    </div>
</main>
</body>
</html>
