<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecnoMart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

</head>
<style>
    h1 {
        text-align: center;
    }
</style>
<body>
<br>
    <h1 >Bienvenidos a TecnoMart</h1>
    <br>
<div class="container">
    <div class="row ">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="img/cliente.png" alt="" class="card-img-top"></img>
                <div class="card-body">
                    <h5 class="card-tittel">Mantenimiento de Clientes</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing 
                        elit!</p>
                        <a href="/cliente/listado" class="button">Listado de Clientes</a>
                        <br>
                        <a href="/cliente/ir/registro" class="button">Registrar un nuevo Cliente.</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="img/producto.png" alt="" class="card-img-top"></img>
                <div class="card-body">
                    <h5 class="card-tittel">Mantenimiento de Productos</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing 
                        elit!</p>
                        <a href="/producto/listadoP" class="button">Listado de Productos</a>
                        <br>
                        <a href="/producto/ir/registro" class="button">Registre un nuevo Producto.</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="img/cliente.png" alt="" class="card-img-top"></img>
                <div class="card-body">
                    <h5 class="card-tittel">Mantenimiento de Empleados</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing 
                        elit!</p>
                        <a href="#" class="button">Listado de Empleados</a>
                        <br>
                        <a href="#" class="button">Registre un nuevo Empleado.</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
